@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin: 0;
	padding: 0;

}

body{
	font-family: 'Roboto', sans-serif;
	background: #FFF;
	width: 100%;
}




.contenedor{
	width: 100%;
	height: 10%;
	background: #F67D29;
	

}
#texto h2{
	color:#FFF;
	margin-top: 20px;
	background:#F67D29;
	text-align: center;
	margin-bottom: 50px;

}

textarea{
	width: 100%;
}

#info {
	margin-top: 50px;
	text-align: center;
	color: orange;
}
.flecha_izquierda{
  width: 5px;
  height: 5px;
  
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid #000;

}

@media screen and (min-width:768px){
	textarea{
		width: 100%;
		 		
	}
	
		.flecha_izquierda{
			clear: both;
	}
	

}